table{
	font-family: 'Lora', serif;
	
}
th{
	font-weight:700;
}
th,td{
            border: 1px solid #ccc;            
            font-size: 20px;
            padding: 0.5rem;
            border-radius: 5px;
        }
td{
            font-weight: 400;
        }
.fillbackground{
            background-color:#f2f2f2;
        }
.evenBground{
	background-color:#ffffff;
}